<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>Mentor & Mentee - 게시글 작성</title>
    <th:block th:replace="flagments::flg_head"></th:block>
    <link rel="stylesheet" href="/static/css/board/board-create.css">
</head>
<body class="d-flex flex-column h-100">
<th:block th:replace="flagments::flg_nav"></th:block>
<!-- Header-->
<div class="create_section">
    <div id="contentHeader">
        <div id="contentTitle">
            <p>멘티 게시판</p>
        </div>
    </div>
    <hr>
    <form action="/board/mentee/mentee-upload" enctype="multipart/form-data" method="post">
        <div id="createBody">
            <div id=createHeader>
                <p>제목 : </p><input type="text" name="bdTitle" id="createTitle"/>
                <input type="file" id="fileBtn" name="files" value="파일" multiple/>
            </div>
            <hr>
            <div>
                <textarea id="createBox" name="bdContent" required="required" maxlength="1000"></textarea>
            </div>
            <hr>
        </div>

        <div class="create_footer">
            <button id="returnButton" type="button" onclick="location.href='mentee'">목록</button>
            <div id="wrapButton">
                <button type="submit">등록</button>
            </div>
        </div>
    </form>
</div>
<th:block th:replace="flagments::flg_footer"></th:block>
<th:block th:replace="flagments::flg_jsFiles"></th:block>
</body>
</html>