<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
   <title>Mentor & Mentee - 게시글 상세</title>
   <th:block th:replace="fragments::flg_head"></th:block>
   <link rel="stylesheet" href="/css/board/board-content.css">
</head>
<body class="d-flex flex-column h-100">
<th:block th:replace="fragments::flg_nav"></th:block>
<!-- Header-->
<div class="content_section">
   <div id="contentHeader">
      <div id="contentTitle">
         <p th:text="${board.mentor ne null} ? '멘토 게시판' : '멘티 게시판'"></p>
      </div>
   </div>
   <hr>
   <div id="contentBody">
      <table class="content_table" border="0">
         <thead class="content_thead">
         <tr class="content_tr" th:object="${board}">
            <th class="content_info" id="contentNo" th:text="*{bdIdx}|"></th>
            <th class="content_info" id="content" th:text="*{title}|"></th>
            <th th:if="*{mentor ne null}" class="content_info" id="contentWriter" th:text="*{mentor.member.userId}|"></th>
            <th th:unless="*{mentor ne null}" class="content_info" id="contentWriter" th:text="*{mentee.member.userId}|"></th>
            <th class="content_info" id="contentDate" th:text="|*{regDate}|"></th>
            <th class="content_info" id="contentView" th:text="|조회수 *{viewCount}|"></th>
            <th class="content_info" id="contentRec" th:text="|추천수 *{recCount}|"></th>
         </tr>
         </thead>
      </table>
      <hr>
      <div id="contentBox">
         <div>
            <th:block th:each="file : ${board.files}">
               <img th:if="${file.link.contains('.jpg') or file.link.contains('.png') or file.link.contains('.jpeg')}" style="width: 100px; height: 100px" th:src="${file.link}">
            </th:block>
            <br>
            <br>
            <br>
            <p th:text="${board.bdContent}"></p>
         </div>
      </div>
      <div class='info file_info'>
         <ol th:each="file : ${board.files}">
            <li id="liTag">
               <a th:onclick="downloadFile([[${file.originFileName}]],[[${file.renameFileName}]],[[${file.savePath}]])">
                  <i class="fas fa-paperclip" id="fileClip"></i>[[${file.originFileName}]]
               </a>
            </li>
         </ol>
      </div>
      <div id="otherUtil">
         <a th:href="'/board/board-recommend?bdIdx='+${board.bdIdx}+'&type='+${session.authentication.member.role}">추천</a>
         <a id="shareURL" onclick="clip(); return false;">공유</a>
      </div>
      <hr>
      <table th:if="${board.comments ne null}" class="comment_table" border="0" th:each="comment : ${board.comments}">
            <tr class="comment_tr">
               <th class="comment_info" th:text="${session.authentication.member.role.contains('MO')} ?
                  ${comment.mentor.member.userId} : ${comment.mentee.member.userId}"></th>
               <th class="comment_info" th:text="${comment.coContent}"></th>
               <th class="comment_info">
                  <i class="far fa-thumbs-up" th:id="${comment.coIdx}"
                     th:onclick="recommendComment([[${comment.coIdx}]],[[${session.authentication.member.role}]])"
                     th:text="${comment.recommendCnt}"></i>
               </th>
               <th class="comment_info">
                  <i class="fas fa-times" id="commentDelete"
                     th:onclick="deleteComment([[${comment.coIdx}]],[[${session.authentication.member.role}]])"></i>
               </th>
               <th class="comment_info" th:text="${comment.regDate}"></th>
            </tr>
      </table>
      <hr>
      <form class="wrap_comment" action="/board/regist-comment" method="post">
         <input type="hidden" name="type" th:value="${board.mentor ne null} ? 'MO' : 'ME'">
         <input type="hidden" name="bdIdx" th:value="${board.bdIdx}">
         <textarea id="commentBox" required="required" maxlength="100" name="coComment"></textarea>
         <button id="writeButton">등록</button>
      </form>
      <hr>
   </div>

   <div class="content_footer pb-5 mb-3">
      <button id="returnButton" type="button"
              onclick="location.href='mentee'">목록
      </button>
      <div id="wrapButton">
         <button type="button" th:onclick="'location.href=\'' +
         @{/board/modify-board(bdIdx=${board.bdIdx},type=${session.authentication.member.role})} + '\';'">수정</button>
         <button type="button" th:onclick="'location.href=\'' +
         @{/board/delete-board(bdIdx=${board.bdIdx},type=${session.authentication.member.role})} + '\';'">삭제</button>
      </div>
   </div>
</div>
<th:block th:replace="fragments::flg_footer"></th:block>
<th:block th:replace="fragments::flg_jsFiles"></th:block>
<script th:inline="javascript">

    console.dir([[${comment}]]);

    function clip() {

        var url = '';
        var textarea = document.createElement("textarea");
        document.body.appendChild(textarea);
        url = window.document.location.href;
        textarea.value = url;
        textarea.select();
        document.execCommand("copy");
        document.body.removeChild(textarea);
        alert("URL이 복사되었습니다.")
    }

    let urlEncoder = paramObj => {
        let arr = [];

        for (key in paramObj) {
            let param = key + '=' + encodeURIComponent(paramObj[key]);
            arr.push(param);
        }
        return arr.join('&'); //a=b&가=나&t=q
    }

    let downloadFile = (ofn, rfn, path) => {
        let paramObj = {
            originFileName: ofn,
            renameFileName: rfn,
            savePath: path
        }
        location.href = '/download?' + urlEncoder(paramObj);
    }

    let recommendComment = (coIdx, role) => {
        fetch("/board/recommend-comment?coIdx=" + coIdx + "&type=" + role, {
            headers : {
                'Content-Type' : 'application/json'
            }
        })
        .then((response)=> {
            if(response.ok){
                return response.json();
            } else {
                throw new Error(response.status);
            }
        })
        .then(res => {
            console.dir(res);
            if(res == null){
                alert("댓글 추천에 실패하였습니다.");
                return;
            } else {
                document.getElementById(res.coIdx).innerText = res.recommendCnt;
                return;
            }
        })
    }

    let deleteComment = (coIdx, role) => {
        fetch("/board/delete-comment?coIdx=" + coIdx + "&type=" + role, {
            headers : {
                'Content-Type' : 'applocation.json'
            }
        })
        .then(response => {
            if(response.ok){
                return response.text();
            } else {
                throw new Error(response.status);
            }
        })
        .then(res => {
            alert(res);
            location.reload();
        })
    }

</script>

</body>
</html>