<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
   <title>회원탈퇴</title>
   <th:block th:replace="fragments::flg_head"></th:block>
</head>
<body style="height: 100vh">
<th:block th:replace="fragments::flg_nav"></th:block>
<div class="section" style="min-height:92vh;">
   <div class="container">
      <div class="row justify-content-center pt-5">
         <div class="col-12 text-center align-self-center py-5 mt-5">
            <div class="section pb-5 pt-5 pt-sm-2 text-center">
               <div class="card-3d-wrap mx-auto">
                  <div class="card-3d-wrapper">
                     <div class="card-front">
                        <div class="center-wrap">
                           <form action="/member/delete-member" class="section text-left" method="post">
                              <h3 class="mb-4">회원탈퇴 인증</h3>
                              <div class="mb-4">
                                 <div>비밀번호 확인후 탈퇴가 완료됩니다.</div>
                                 <div>회원탈퇴 후 동일 아이디로 재가입이 불가능 하니 신중하게 생각해주세요.</div>
                              </div>
                              <div class="form-group">
                                 <input type="hidden" name="role" th:value="${session.authentication.member.role}">
                                 <input type="password" name="password" class="form-style" placeholder="비밀번호" id="password" autocomplete="off">
                                 <i class="input-icon uil uil-lock-alt"></i>
                              </div>
                              <p th:if="${error}" class='text-muted small' id="infoPw" th:text="${error}"></p>
                              <button class="btn mt-4" type="submit" style="width: 100%">submit</button>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<th:block th:replace="fragments::flg_footer"></th:block>
<th:block th:replace="fragments::flg_jsFiles"></th:block>
</body>
</html>