<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
   <title>마이페이지</title>
   <th:block th:replace="fragments::flg_head"></th:block>
   <link rel="stylesheet" href="/css/member/mypage.css">
</head>
<body class="bg-right" style="height: 100vh">
<th:block th:replace="fragments::flg_nav"></th:block>
<div class="container-fluid" style="padding-top: 9rem; padding-bottom: 9rem; min-height: 92vh" th:object="${session.authentication}">
   <div class="row">
      <div class="col-md-10 col-11 mx-auto">
         <!-- Side navbar -->
         <div class="row">
            <div class="col-lg-3 col-md-4 d-md-block">
               <div class="card bg-common card-left bg-commom">
                  <div class="profile"
                     <th:block th:if="*{member.role.contains('MO')}">
                        <img th:if="*{fileInfo ne null}" th:src="*{fileInfo.link}"
                             class="card-img-top img-fluid roundned-circle" alt
                             style="margin: 15px auto; width: 120px; height: 120px; display: block">
                     </th:block>
                     <h1 class="text-light" style="margin-top: 40px" th:text="*{member.userName}"></h1>
                  </div>
                  <div class="card-body">
                     <nav class="nav d-md-block d-none">
                        <a data-toggle="tab" class="nav-link active" aria-current="page" href="#profile">
                           <i class="fas fa-user mr-1"></i>프로필
                        </a>
                        <a data-toggle="tab" class="nav-link" href="#account">
                           <i class="fas fa-user-cog mr-1"></i>계정 정보
                        </a>
                        <a data-toggle="tab" class="nav-link" href="#security">
                           <i class="fas fa-user-shield mr-1"></i>Security
                        </a>
                        <a th:if="*{member.role.contains('MO')}" data-toggle="tab" class="nav-link"
                           href="#billing">
                           <i class="fas fa-money-check-alt mr-1"></i>계좌 정보
                        </a>
                     </nav>
                  </div>
               </div>
            </div>
            <!-- right side div -->
            <div class="col-lg-9 col-md-8">
               <div class="card">
                  <div class="card-header border-bottom mb-3 d-md-none">
                     <ul class="nav nav-tabs card-header-tabs nav-fill">
                        <li class="nav-item">
                           <a data-toggle="tab" class="nav-link active" aria-current="page" href="#profile">
                              <i class="fas fa-user mr-1"></i></a>
                        </li>
                        <li class="nav-item">
                           <a data-toggle="tab" class="nav-link" href="#account">
                              <i class="fas fa-user-cog mr-1"></i>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a data-toggle="tab" class="nav-link" href="#security">
                              <i class="fas fa-user-shield mr-1"></i>
                           </a>
                        </li>
                        <li th:if="*{member.role.contains('MO')}" class="nav-item">
                           <a data-toggle="tab" class="nav-link" href="#billing">
                              <i class="fas fa-money-check-alt mr-1"></i>
                           </a>
                        </li>
                     </ul>
                  </div>

                  <!-- user profile start -->
                  <div class="card-body tab-content border-0">
                     <!-- profile data -->
                     <div class="tab-pane active" id="profile">
                        <h6>프로필 정보</h6>
                        <hr>
                        <form th:action="*{member.role.contains('MO')} ? '/member/modify-mentor' : '/member/modify-mentee'" method="post">
                           <input type="hidden" th:name="*{member.role.contains('MO')} ? mentorIdx : menteeIdx"
                                  th:value="*{member.role.contains('MO')} ? *{mentorIdx} : *{menteeIdx}">
                           <div class="mb-3">
                              <label for="userName" class="form-label">이름</label>
                              <input type="text" class="form-control" id="userName" name="userName" required
                                     th:value="*{member.userName}">
                           </div>
                           <div class="mb-3">
                              <label for="email" class="form-label">email</label>
                              <input type="text" class="form-control" id="email" name="email" required
                                     th:value="*{member.email}">
                           </div>
                           <div class="mb-3">
                              <label for="phone" class="form-label">핸드폰</label>
                              <input type="text" class="form-control" id="phone" name="phone" required
                                     th:value="*{member.countryCode + member.phone}">
                           </div>
                           <div class="mb-3">
                              <label for="address" class="form-label">주소</label>
                              <input type="text" class="form-control" id="address" name="address" required
                                     th:value="*{member.address}">
                           </div>
                           <th:block th:if="*{member.role.contains('MO')}">
                              <div class="mb-3">
                                 <label for="university" class="form-label">학교</label>
                                 <input type="text" class="form-control" id="university"
                                        name="universityName" required th:value="*{universityName}">
                              </div>
                              <div class="mb-3">
                                 <label for="grade" class="form-label">학년</label>
                                 <select data-sel="grade" class="form-control" id="grade" name="grade">
                                    <option disabled>현재 학년</option>
                                    <option value="1">1학년</option>
                                    <option value="2">2학년</option>
                                    <option value="3">3학년</option>
                                    <option value="4">4학년</option>
                                 </select>
                              </div>
                              <div class="mb-3">
                                 <label for="major" class="form-label">전공계열</label>
                                 <select data-sel="major" class="form-control" id="major" name="major">
                                    <option disabled>전공 계열</option>
                                    <option value="humanities">인문계열</option>
                                    <option value="education">교육계열</option>
                                    <option value="engineering">공학계열</option>
                                    <option value="society">사회계열</option>
                                    <option value="nature">자연계열</option>
                                    <option value="anp">예체능계열</option>
                                    <option value="medicine">의약계열</option>
                                 </select>
                              </div>
                              <div class="mb-3">
                                 <label for="wantDay" class="form-label">원하는 요일</label>
                                 <select data-sel="wantDay" class="form-control" id="wantDay" name="wantDay">
                                    <option disabled>희망 요일</option>
                                    <option value="mon">월요일</option>
                                    <option value="tue">화요일</option>
                                    <option value="wed">수요일</option>
                                    <option value="thu">목요일</option>
                                    <option value="fri">금요일</option>
                                    <option value="sat">토요일</option>
                                    <option value="sun">일요일</option>
                                    <option value="all">무관</option>
                                 </select>
                              </div>
                              <div class="mb-3">
                                 <label for="wantTime" class="form-label">원하는 시간</label>
                                 <select data-sel="wantTime" class="form-control" id="wantTime"
                                         name="wantTime">
                                    <option disabled>희망 시간</option>
                                    <option value="am">오전(09:00 ~ 12:00)</option>
                                    <option value="pm">오후(12:00 ~ 17:00)</option>
                                    <option value="evening">저녁(17:00 ~ 21:00)</option>
                                    <option value="all">무관</option>
                                 </select>
                              </div>
                              <div class="mb-3">
                                 <label for="requirement" class="form-label">요구사항</label>
                                 <select data-sel="requirement" class="form-control" id="requirement"
                                         name="requirement">
                                    <option disabled>원하는 진행방식</option>
                                    <option value="videoChat">비대면(화상채팅)</option>
                                    <option value="myTown">멘토의 동네에서 대면 수업</option>
                                    <option value="yourTown">멘티의 동네에서 대면 수업</option>
                                    <option value="rentalSpace">카페나 스터디룸 대여희망</option>
                                 </select>
                              </div>
                              <div th:unless="*{history eq null}" class="mb-3">
                                 <label for="originHistory" class="form-label">이력사항</label>
                                 <div class='myHistory' id="originHistory" name="history"
                                      th:each="prod : *{history.split(',')}">
                                    <div th:text="${prod}"></div>
                                 </div>
                              </div>
                              <div class="form-group " id="histories">
                                 <div class="form-text text-muted small">
                                    이력사항을 추가하시려면 오른쪽 +버튼을 눌러 추가하시면 됩니다.
                                    <a class="btn btn-outline-warning btn-sm ml-2" id="btnHistory"
                                       onclick="addHist();">+</a>
                                 </div>
                              </div>
                           </th:block>
                           <th:block th:unless="*{member.role.contains('MO')}">
                              <div class="mb-3">
                                 <label for="schoolName" class="form-label">학교</label>
                                 <input type="text" class="form-control" id="schoolName"
                                        name="schoolName" required th:value="*{schoolName}">
                              </div>
                              <div class="mb-3">
                                 <label for="major" class="form-label">현재 계열</label>
                                 <select data-sel="major" class="form-control" id="major" name="major">
                                    <option disabled>현재 계열</option>
                                    <option value="문과">문과</option>
                                    <option value="이과">이과</option>
                                    <option value="예체능">예체능</option>
                                    <option value="미정">미정</option>
                                 </select>
                              </div>
                              <div class="mb-3">
                                 <label for="grade" class="form-label">학년</label>
                                 <select data-sel="grade" class="form-control" id="grade" name="grade">
                                    <option disabled>현재 학년</option>
                                    <option value="1">1학년</option>
                                    <option value="2">2학년</option>
                                    <option value="3">3학년</option>
                                    <option value="4">4학년</option>
                                 </select>
                              </div>
                              <div class="mb-3">
                                 <label for="hopeUniversity" class="form-label">희망 대학</label>
                                 <input type="text" class="form-control" id="hopeUniversity"
                                        name="hopeUniversity" th:value="*{hopeUniversity}">
                              </div>
                              <div class="mb-3">
                                 <label for="hopeMajor" class="form-label">희망 학과</label>
                                 <input type="text" class="form-control" id="hopeMajor" name="hopeMajor"
                                        th:value="*{hopeMajor}">
                              </div>
                           </th:block>
                           <br>
                           <button class="btn btn-outline-info" type="submit">Update Profile</button>
                           <button class="btn btn-outline-info" type="reset" id="resetBtn">Reset Changes
                           </button>
                        </form>
                     </div>

                     <!-- account data -->
                     <div class="tab-pane " id="account">
                        <h6>계정 설정</h6>
                        <hr>
                        <form th:if="*{member.role.contains('MO')}" action="/member/upload-img" method="post"
                              enctype="multipart/form-data">
                           <div class="mb-3">
                              <label for="profile_img" class="form-label">사진등록</label>
                              <input type="file" class="btn form-control" name="image" id="profile_img"
                                     accept="image/png, image/gif, image/jpeg">
                              <small class='form-text text-muted'>사진을 등록하세요.</small>
                           </div>
                           <button class="btn btn-success">사진 등록하기</button>
                        </form>
                        <hr>
                        <form action="/member/confirm-pw">
                           <div class="mb-3">
                              <label class="form-label text-danger">Delete Account</label>
                              <p class="text-muted">계정을 삭제하시면 되돌릴 수 없습니다.</p>
                           </div>
                           <br>
                           <button class="btn btn-danger" type="submit">Delete Profile</button>
                        </form>
                     </div>
                     <div class="tab-pane " id="security">
                        <h6>Security Setting</h6>
                        <hr>
                        <form th:action="@{/member/modify-password}" method="post">
                           <div class="mb-3">
                              <input type="hidden" name="userId" th:value="*{member.userId}">
                              <label class="form-label">현재 비밀번호</label>
                              <input type="Password" class="form-control" id="currPw" name="curPw" placeholder="현재 비밀번호">
                              <p th:if="${error}" class='text-muted small' id="infoCurrPw" th:text="${error.curPw}"></p>
                              <label class="form-label">새로운 비밀번호</label>
                              <input type="Password" class="form-control mb-2" id="newPw" name="newPw" placeholder="새로운 비밀번호">
                              <input type="Password" class="form-control mb-2" id="confirmNewPw" name="confirmNewPw" placeholder="비밀번호 확인">
                              <div th:if="${error}" th:text="${error.newPw}" class='text-muted small' id="infoNewPw"></div>
                              <button class="btn btn-outline-info" id="btnModifyPw" type="submit">비밀번호 변경</button>
                           </div>
                        </form>
                        <hr>
                        <form action="javascript:loginFormWithKakao()">
                           <input type="hidden" id="memberRole" th:value="*{member.role}">
                           <div class="form-group">
                              <label class="d-block mb-2">카카오 계정 연동</label>
                              <div th:if="*{member.kakaoJoin ne null}" class='text-muted small'>카카오 연동이 되어있습니다.</div>
                              <button th:unless="*{member.kakaoJoin ne null}" class="btn" type="submit">
                                 <img src="/img/kakaoLogo.png">
                              </button>
                              <div th:unless="*{member.kakaoJoin ne null}" class='text-muted small'>버튼을 클릭해 카카오아이디로 로그인 하세요~</div>
                           </div>
                        </form>
                     </div>

                     <div th:if="*{member.role.contains('MO')}" class="tab-pane " id="billing">
                        <h6>계좌정보</h6>
                        <hr>
                        <form th:action="@{/member/modify-account}" method="post">
                           <div class="mb-3">
                              <label for="accountNum" class="form-label">계좌번호</label>
                              <input type="text" class="form-control" id="accountNum" th:value="*{accountNum}" name="accountNum" required
                                     placeholder="계좌번호">
                              <p class='text-muted small'>- 빼고 입력하세요</p>
                              <label for="bankName" class="form-label">은행명</label>
                              <input type="text" class="form-control mb-2" id="bankName" required name="bank" th:value="*{bank}"
                                     placeholder="은행명">
                              <button class="btn btn-outline-info" type="submit">계좌번호 변경</button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<th:block th:replace="fragments::flg_footer"></th:block>
<th:block th:replace="fragments::flg_jsFiles"></th:block>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script src="/js/member/mypage.js"></script>
<script th:inline="javascript">
    var authentication = [[${session.authentication}]];
    console.dir(authentication);
    (() => {
        if (authentication.member.role.includes('MO')) {
            var dataArr = [authentication.grade, authentication.major, authentication.wantDay, authentication.wantTime,
                authentication.requirement];
        } else {
            var dataArr = [authentication.major, authentication.major];
        }

        var i = 0;

        document.querySelectorAll('select').forEach(e => {
            document.querySelectorAll('#' + e.dataset.sel + ' option').forEach(t => {
                if (t.value == dataArr[i]) t.selected = true;
            })
            i++;
        });


        if ([[${error}]]) {
            document.querySelector('#profile').className = "tab-pane";
            document.querySelector('#security').className += "active";
        }
    })();
</script>
</body>
</html>
